@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="slides-shop" class="cover-slides" style="position: relative; overflow: hidden; width: 100%; height: 722.4px;">
    <div class="slides-control" style="position: relative; height: 100%; width: 3232.8px; left: -1077.6px;">
        <ul class="slides-container" style="margin: 0px; padding: 0px; list-style: none; position: relative; height: 100%;">
            <li class="text-left" style="display: none; left: 0px; position: absolute; overflow: hidden; height: 100%; width: 1077.6px; top: 0px; z-index: 0; opacity: 1;">
                <img src="~/images/banner-01.jpg" alt="" style="backface-visibility: hidden; position: absolute; left: -154.005px; top: 0px; z-index: -1; max-width: none; height: 722.4px; width: 1385.62px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> Thewayshop</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                        </div>
                    </div>
                </div>
                <div class="overlay-background"></div>
            </li>
            <li class="text-center" style="display: none; left: 1077.6px; position: absolute; overflow: hidden; height: 100%; width: 1077.6px; top: 0px; z-index: 0; opacity: 1;">
                <img src="~/images/banner-02.jpg" alt="" style="backface-visibility: hidden; position: absolute; left: -154.01px; top: 0px; z-index: -1; max-width: none; height: 722.4px; width: 1385.62px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> Thewayshop</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                        </div>
                    </div>
                </div>
                <div class="overlay-background"></div>
            </li>
            <li class="text-right" style="display: block; left: 1077.6px; position: absolute; overflow: hidden; height: 100%; width: 1077.6px; top: 0px; z-index: 2; opacity: 1;">
                <img src="~/images/banner-03.jpg" alt="" style="backface-visibility: hidden; position: absolute; left: -154.01px; top: 0px; z-index: -1; max-width: none; height: 722.4px; width: 1385.62px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> Thewayshop</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                        </div>
                    </div>
                </div>
                <div class="overlay-background"></div>
            </li>
        </ul>
    </div>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
    <nav class="slides-pagination"><a href="#1" class="">1</a><a href="#2" class="">2</a><a href="#3" class="current">3</a></nav>
</div>
